.gridWrapper{
  display: grid;
  grid-template-columns: minmax(max-content,500px) calc(100% - 560px);
}

.userData{
  margin: 24px;
}

.userImage{
  height: 500px;
  width: 500px;
}

.nameData{
  font-size: 36px;
  margin-top: 10px;
  font-weight: bolder;
  display: block;
}

.otherData{
  display: block;
  margin-top: 5px;
  font-size: 24px;
}

.accordeon{
  margin: 24px;
}

.accordeonItem{
  font-size: 48px;
  font-family: Montserrat, serif;
  margin: 10px;
  cursor: pointer;
  margin-left: 0;
  margin-right: 30px;
}

.eventListItem{
  border: 1px solid black;
  border-radius: 10px;
  height: 85px;
  margin-top: 20px;
}

.eventPhoto{
  height: 65px;
  width: 85px;
  margin-bottom: 10px;
  margin-left: 8px;
}

.eventName{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
}

.eventLocation{
  display: inline-block;
  float: right;
  font-size: 24px;
  font-family: 'Montserrat',sans-serif;
  color: #000000;
  margin-top: 25px;
  margin-right: 10px;
}

.eventTime{
  display: inline-block;
  float: right;
  font-size: 24px;
  color: #134563;
  margin-top: 25px;
  margin-right: 10px;
}

.eventDuration{
  display: inline-block;
  float: right;
  font-size: 24px;
  margin-top: 25px;
  margin-right: 10px;
  color: #E554AE;
}

.userUpdateForm{
  width: 370px;
  margin: auto;
}

.userUpdateFormInputs{
  max-height: 52vh;
  overflow-y: auto;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  margin: 10px;
}

/* Track */
.userUpdateFormInputs::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.userUpdateFormInputs::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
.userUpdateFormInputs::-webkit-scrollbar-thumb:hover {
  background: #999;
  border-radius: 10px;
}

.text_update {
  margin-top: 35px;
  font-size: 36px;
  text-align: center;
}

.update_enter_label {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 20px;
  margin-left: 10px;
}

.input_reg {
  line-height: 1.5;
  width: 316px;
  height: 27px;
  background: #E3F2FF;
  border-color: transparent;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 10px;
}

select {
  margin-top: 10px;
  background: #E3F2FF;
  width: 316px;
  height: 27px;
  border-color: transparent;
  font-family: Montserrat,serif;
}

select {
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right  #E3F2FF;
  -webkit-appearance: none;
  background-position-x: 282px;
  padding-left: 10px;
}

.update_button_position{
  width: 316px;
  margin: 0 auto;
}

.update_button {
  font-family: Montserrat, serif;
  text-align: center;
  background: #E0EFFC;
  width: 219px;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  margin-left: 49px;
  margin-bottom: 8px;
}

.butt{
  margin-bottom: 50px;
}

.invalid-data {
  position: absolute;
  color: red;
  font-size:12px;
  width: 316px;
  margin-left: 20px;
}

.autocomplete-items{
  position: relative;
}

.autocomplete-item-container{
  position: absolute;
  z-index: 999;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
;
}

.autocomplete-item{
  cursor: pointer;
  /* margin-top: 10px; */
  background: #E3F2FF;
  width: 316px;
  height: 27px;
  border-color: transparent;
  padding-left: 10px;
  padding-top: 1px;
  font-family: Montserrat,serif;
}

.autocomplete-item:hover{
  background-color:#f2f2f2;
}

.loading-image{
  height: 31px;
  width: 316px;
  margin-left: 10px;
}

@media screen and (max-width: 1400px) {
  .accordeonItem{
    font-size: 42px;
  }
}

@media screen and (max-width: 1250px) {
  .accordeonItem{
    font-size: 36px;
  }
}

@media screen and (max-width: 1250px) {
  .accordeonItem{
    font-size: 36px;
  }
}

@media screen and (max-width: 1150px) {
  .gridWrapper{
    grid-template-columns: inherit;
  }

  .userData{
    margin: 0 auto;
    margin-top: 20px;
  }

  .accordeonItem{
    font-size: 42px;
  }

  .accordeonItemList{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    border-top: 2px solid rgb(56, 73, 85, 100);
    border-bottom: 2px solid rgb(56, 73, 85, 100);
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .accordeonItem{
    font-size: 36px;
  }
}

@media screen and (max-width: 600px)  {
  .userImage{
    height: 350px;
    width: 350px;
  }
  .accordeonItemList {
    font-size: 26px;
  }
}

