<!--
Div with photo and data of the user
-->
<div class="userData">
  <img src="" class="userImage"/>
  <ul>
    <li><span class="nameData">{{currentUser.last_name+" "+currentUser.first_name}}</span></li>
    <li><span class="otherData">{{currentUser.email}}</span></li>
    <li><span class="otherData">{{currentUser.city}}</span></li>
    <li><span class="otherData">{{currentUser.birth_date}}</span></li>
  </ul>
</div>

<!--
Div with accordeon
-->
<div>

</div>

<!--
Div with events
-->
<div>

</div>

<!--
Div with user form panel
-->
<div>

</div>
