<div class="header">
  <img
    src="https://image.flaticon.com/icons/png/512/235/235861.png"
    alt=""
    class="logo"
  />

  <div class="buttons">
    <img
      style="width: 50px; margin-right: 10px;margin-top: 12px;"
      src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/plus-512.png"
      alt=""
    />

    <img
      style="margin-top: 12px; width: 50px"
      src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/menu-512.png"
      alt=""
    />
  </div>

  <div class="textF">eventure</div>
</div>
