<div class="header">
  <img src="./assets/images/g72.png" alt="" class="logo" />

  <div class="buttons dropdown" style="margin-right: 10px;">
    <a href="javascript:void(0)"><img style="margin-top: 12px; width: 50px"
        src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/menu-512.png" alt="" /></a>
    <div class="dropdown-content">
      <a href="#">
        <div class="dd-option">
          <img class="dd-ico" src="https://www.flaticon.com/svg/static/icons/svg/860/860784.svg" alt="" />
          <div class="option-text">
            Профіль
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <!-- <img src="https://www.flaticon.com/svg/static/icons/svg/16/16492.svg" alt="" class="dd-ico" /> -->
          <img src="./assets/images/g72.png" alt="" class="dd-logo-ico"/>
          <div class="option-text">
            Усі події
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <img src="https://www.flaticon.com/svg/static/icons/svg/42/42446.svg" alt="" class="dd-ico" />
          <div class="option-text">
            Заплановані події
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <img src="https://www.flaticon.com/svg/static/icons/svg/2522/2522174.svg" alt="" class="dd-ico" />
          <div class="option-text">
            Друзі
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <img src="https://www.flaticon.com/svg/static/icons/svg/660/660350.svg" alt="" class="dd-ico" />
          <div class="option-text">
            Вийти
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="buttons">
    <img style="width: 50px; margin-right: 6px;margin-top: 12px;"
      src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/plus-512.png" alt="" />
  </div>

  <div class="header-text">eventure</div>
</div>
