<div class="header">
  <img src="./assets/images/g72.png" alt="" class="logo" />

  <div class="buttons dropdown" style="margin-right: 10px;">
    <a href="javascript:void(0)"><img style="margin-top: 12px; width: 50px"
        src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/menu-512.png" alt="" /></a>
    <div class="dropdown-content">
      <a href="#">
        <div class="dd-option">
          <img class="dd-ico" src="https://www.flaticon.com/svg/static/icons/svg/860/860784.svg" alt="" />
          <div class="option-text" (click)="goToProfile('/my')">
            Профіль
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <!-- <img src="https://www.flaticon.com/svg/static/icons/svg/16/16492.svg" alt="" class="dd-ico" /> -->
          <img src="./assets/images/g72.png" alt="" class="dd-logo-ico"/>
          <div class="option-text" (click)="goToProfile('/home')">
            Усі події
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <img src="https://www.flaticon.com/svg/static/icons/svg/42/42446.svg" alt="" class="dd-ico" />
          <div class="option-text">
            Заплановані події
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <img src="https://www.flaticon.com/svg/static/icons/svg/2522/2522174.svg" alt="" class="dd-ico" />
          <div class="option-text">
            Друзі
          </div>
        </div>
      </a>
      <a href="#">
        <div class="dd-option">
          <img src="https://www.flaticon.com/svg/static/icons/svg/660/660350.svg" alt="" class="dd-ico" />
          <div class="option-text">
            Вийти
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="buttons">
    <a href="#popup"><img style="width: 50px; margin-right: 6px;margin-top: 12px;"
      src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/plus-512.png" alt="" /></a>
  </div>

  <div id="popup">
    <div class="popup-inner">
        <h1 class="maintextadd">Додати подію</h1> 

        <h3 class="textadd">1.Назва заходу</h3>
        <p class="inputfield"></p>

        <h3 class="textadd">2.Дата та час проведення</h3>
        <div style="display:inline-block">  
          <tr>
            <th><p class="textadd">початок</p>
            <input id="datetime" type="datetime-local" name="start" class="input_date">
            </th>
            <th>
            <p class="textadd">кінець</p>
            <input id="datetime" type="datetime-local" name="end" class="input_date">
            </th>
          </tr>
        </div>

        <h3 class="textadd">3.Місце проведення</h3>
        <p class="inputfield"></p>

        <h3 class="textadd">4.Ціна</h3>
        <p class="inputfield"></p>

        <h3 class="textadd">5.Стать</h3>
        <div>
          <input type="checkbox" id="male" name="male" class="input_box">
          <label for="male">Чоловіча</label>
  
          <input type="checkbox" id="female" name="female" class="input_box">
          <label for="female">Жіноча</label>

          <input type="checkbox" id="both" name="both" class="input_box">
          <label for="both">Обидві</label>
        </div>
        
        <h3 class="textadd">6.Оберіть вікову категорію</h3>
        <p class="inputfield">
        <select name="age" id="age">
          <option value="everyone">0+</option>
          <option value="toddsfree">6+</option>
          <option value="kidsfree">14+</option>
          <option value="onlyadults">18+</option>
        </select>
      </p>
      
      <h3 class="textadd">7.Оберіть категорію заходу</h3>
      <p class="inputfield">
      <select name="category" id="category">
        <option value="everyone">Усі</option>
        <option value="art">Мистецтво</option>
        <option value="music">Музика</option>
        <option value="film">Кіно</option>
        <option value="theater">Театр</option>
        <option value="literature">Література</option>
        <option value="sport">Спорт</option>
        <option value="nightlife">Нічне життя</option>
        <option value="festival">Фестивалі</option>
        <option value="education">Навчання</option>
        <option value="business">Бізнес</option>
        <option value="excursions">Екскурсії</option>
        <option value="pets">Тварини</option>
        <option value="other">Інше</option>
        </select>
    </p>

        <h3 class="textadd">8.Короткий опис</h3>
        <p class="descriptionfield"></p>


        <div class="fotofon">
          <img src="./assets/images/g72.png" alt="" class="logo_add" />
          <div class="mainfoto">Перетягніть сюди щоб додати зображення</div>
          <div class="fotos">
            <div class="foto">2</div><div class="foto">3</div><div class="foto">4</div><div class="foto">5</div><div class="foto">6</div>
        </div> 
        <div class="button">
          <button type="submit" class="addfiles">Завантажити файли</button>
          </div>
      </div> 
      <div class="button">
        <button type="submit" class="addevent">Готово</button>
        </div>
      </div>
      <a href="#popup-close" class="close-popup">X</a>
  </div>
  

  <div class="header-text">eventure</div>
</div>
