 * {
  box-sizing: border-box;
  margin: 0;
  font-weight: 100;
}

.header {
  height: 70px;
  /* width: 100%; */
  background-color: rgb(128, 180, 211);
}

.logo {
  margin-left: 12px;
  float: left;
  max-height: 100%;
  width: 40px;
  margin-top: 13px;
}

.buttons {
  float: right;
  height: 100%;
  /* width: 25%; */
}

.header-text {
  margin: auto;
  height: 100%;
  width: min-content;
  font-size: 60px;

  font-family: "Emilys Candy", cursive;
  color: rgb(56, 73, 85);
}

/*  */

.dropdown-content {
  margin-top: 8px;
  display: none;
  position: absolute;
  right: 0;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: #FDFDFD;
}

.dropdown-content a {
  width: 239px;
  height: auto;

  color: #384955;
  padding: 8px;
  padding-left: 17px;
  text-decoration: none;
  display: block;

  /* text-align: left; */
  border: 1px solid #384955;
  border-top: none;
}

.dd-option {
  display: flex;
  align-items: center;
}

.option-text {
  position: absolute;
  left: 65px;
}

.dropdown-content a:hover {
  /* background-color: #384955; */
  background-color: #f2f2f2;
  /* background-color: rgb(255,229,245); */

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dd-ico {
  width: 30px;
  height: 30px;
}

.dd-logo-ico {
  width: 30px;
}

/*  */

#popup{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
#popup:target{
  opacity: 1;
  visibility: visible;
}
.popup-inner{
  position: relative;
  background-color: #fff;
  width: 700px;
  height: 510px;
  padding: 25px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#popup:target .popup-inner{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
a.close-popup{
  position:absolute;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  background-color: #DDBCCE; /*потрібно вибрати колір під попап*/
  color: #696666;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

/*    */

.fotofon{
  position: absolute;
  width: 300px;
  height: 510px;
  left: 400px;
  top: 0px;
  background: #E0EFFC;
  font-family: Emilys Candy;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  justify-content: right;
  color: #696666;
}

.logo_add{
  position: relative;
  width: 60px;
  height: 65px;
  top: 20px;
}

.mainfoto{
  position: absolute;
  width: 195px;
  height: 170px;
  left: 52.5px;
  top: 115px;
  background: #FFFFFF;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 2px solid #040404;
  box-sizing: border-box;
  font-family: Emilys Candy;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #696666;
}

.foto{
  position: relative;
  width: 35px;
  height: 35px;
  top: 228px;
  left: 52.5px;
  float: left;
  margin-right: 5px;
  font-family: Emilys Candy;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #696666;
  background: #FFFFFF;
  border: 2px solid #040404;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.addfiles{
  position: absolute;
  top: 400px;
  left: 200px;
  background: #DDBCCE;
  border-radius: 20px;
  font-family: Emilys Candy;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #696666;
}

.custom-file-upload{
  position: absolute;
  top: 340px;
  left: 75px;
  background: #DDBCCE;
  border-radius: 20px;
  font-family: Emilys Candy;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #696666;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.maintextadd{
  position: absolute;
  left: 113px;
  top: 10px;
  font-family: Emilys Candy;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: left;
  color: #926C82;
}

.textadd{
  position: relative;
  font-family: Emilys Candy;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  text-align: left;
  color: #696666;
  padding-top: 5px;
}

.inputfield{
  position: relative;
  border: 0px;
  width: 350px;
  height: 22px;
  font-size: 15px;
  color:#000000;
  margin-top: 2px;
  background: #DDBCCE;
}

textarea{
  position: absolute;
  width: 350px;
  height: 60px;
  background: #F9E6F0;
  border: 0px;
  font-size: 15px;
  color:#000000;
  justify-content: top;
  margin-top: 2px;
  resize:none;
}

label {
  position: relative;
  font-family: Emilys Candy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #696666;
  padding-left: 3px;
  padding-right: 12px;
  align-items: center;
}

.input_box {
  position: relative;
  width: 13.5px;
  height: 13.5px;
  justify-content: left;
  background: #FFFFFF;
  margin-top: 1px;
  border: 1px solid #000000;
  box-sizing: border-box;
  align-items: center;
}

option {
  position: relative;
  width: 350px;
  height: 10px;
  font-size: 20px;
  background: #DDBCCE;
}

select{
  position: relative;
  width: 350px;
  height: 20px;
  border: 0px;
  position: relative;
  font-family: Emilys Candy;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  color: #4C4949;
  background: #DDBCCE;
  margin-top: 2px;
}

.input_date{
  line-height: 17px;
  width: 150px;
  height: 17px;
  background: #DDBCCE;
  font-size: 10px;
  border-color: transparent;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 2px;
  display: inline-block;
  margin-right: 15px;
}

.text_date{
  position: relative;
  font-family: Emilys Candy;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  color: #696666;
  padding-top: 3px;
}

.addevent_button{
  position: absolute;
  width: 200px;
  height: 30px;
  top: 470px;
  left: 250px;
  background: #DDBCCE;
  border-radius: 20px;
  text-align: center;
  font-family: Emilys Candy;
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: #696666;
}

.button{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin-bottom: 80px;
 }
