<div class="footer">
    <script src="https://kit.fontawesome.com/429a22e70e.js" crossorigin="anonymous"></script>
    <span class="text">
        <span class="link-wrapper"><a href="privacy-policy/" style="margin-left: 0;">Політика конфіденційності</a></span><span class="link-wrapper"><a href="contact-us/">Зв'язатися з нами</a></span><span class="link-wrapper" style="border:none;"><a href="about-us/" style="border:none;">Про нас</a></span>
        <br><p class="trademark">Eventure © <span style="font-style:normal;margin: 0;padding: 0;"> 2020</span></p>
    </span>
    <span class="social-media">
        <div><img src="https://www.flaticon.com/svg/static/icons/svg/733/733614.svg"></div>
        <div><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384005.svg"></div>
        <div><img src="https://www.flaticon.com/svg/static/icons/svg/733/733635.svg"></div>
    </span>
</div>
