<div class="footer">
    <span class="text"> 
        <a href="privacy-policy/">Політика конфіденційності</a><a href="contact-us/">Зв'язатися з нами</a><a href="about-us/">Про нас</a>
    </span>
    <span class="social-media"> 
        <a href="privacy-policy/"><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384031.svg" ></a>
        <a href="contact-us/"><img src="https://www.flaticon.com/svg/static/icons/svg/220/220342.svg" ></a>
        <a href="about-us/"><img src="https://www.flaticon.com/svg/static/icons/svg/1051/1051382.svg" ></a>
    </span>
</div>