<div class="footer">
    <script src="https://kit.fontawesome.com/429a22e70e.js" crossorigin="anonymous"></script>
    <span class="text"> 
        <a href="privacy-policy/">Політика конфіденційності</a><a href="contact-us/">Зв'язатися з нами</a><a href="about-us/">Про нас</a>
        <br><p class="trademark">Eventure © 2020</p>
    </span>
    <span class="social-media"> 
        <div><img src="https://www.flaticon.com/svg/static/icons/svg/733/733614.svg"></div>
        <div><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384005.svg"></div>
        <div><img src="https://www.flaticon.com/svg/static/icons/svg/733/733635.svg"></div>
    </span>
</div>