<div class="container">
    <p class="text_comment">Залишіть відгук про подію</p>
    
        <a href="#">
        <img class="emoji" src="https://www.flaticon.com/svg/vstatic/svg/132/132287.svg?token=exp=1614191359~hmac=2e7f1b21d8115e097151541538748a59">
        </a>
        <a href="#">
        <img class="emoji" src="https://www.flaticon.com/svg/vstatic/svg/132/132321.svg?token=exp=1614191464~hmac=14083dae4c1d7fbfe01f89d90c996ada">
        </a>
        <a href="#">
        <img class="emoji" src="https://www.flaticon.com/svg/vstatic/svg/132/132323.svg?token=exp=1614191486~hmac=82698db5fe83c599f36b28a0463f2827">
        </a>
        <a href="#">
        <img class="emoji" src="https://www.flaticon.com/svg/vstatic/svg/132/132284.svg?token=exp=1614191500~hmac=328d56565786580d986bafdb55afdc9a">
        </a>
        <a href="#">
        <img class="emoji" src="https://www.flaticon.com/svg/vstatic/svg/132/132304.svg?token=exp=1614191584~hmac=ddb2fb9ec691df1a927c0dc7f9ebedb7">
        </a>
    <p class="border">Ваш відгук:</p> 
    <form><textarea></textarea> </form>    
    <a href="/one-event/comments-event">
        <div class="butt">
        <button type="submit" class="leavecomment_button">Готово</button>
        </div>
      </a>
 </div>  