<div class="container">
    <p class="text_comment">Залишіть відгук про подію</p>
    <span>
        <img src="./assets/images/nervous.svg" alt="" class="emoji" />
        <img src="./assets/images/sad.svg" alt="" class="emoji sad" />
        <img src="./assets/images/surprised.svg" alt="" class="emoji surprised" />
        <img src="./assets/images/happy.svg" alt="" class="emoji happy " />
        <img src="./assets/images/crying.svg" alt="" class="emoji crying" />
    </span>    
    <p class="pborder"></p>    
    <p class="border">Ваш відгук:</p> 
    <form><textarea></textarea> </form>    
    <a href="/one-event/comments-event">
        <div class="butt">
        <button type="submit" class="leavecomment_button">Готово</button>
        </div>
      </a>
 </div>  
