
.registration_page {
  margin: 0 auto;
  width: 360px;
  display: flex;

}
.text_registration {
  margin-top: 35px;
  font-size: 36px;
  text-align: center;
}
.registration_enter_label {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 20px;
  margin-left: 10px;

}

.input_reg {
  line-height: 1.5;
  width: 316px;
  height: 27px;
  background: #E3F2FF;
  border-color: transparent;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 10px;
}
select {
  margin-top: 10px;
  background: #E3F2FF;
  width: 316px;
  height: 27px;
  border-color: transparent;
  font-family: Montserrat,serif;
  padding-left:  0.6em ;
}
.registration_button_position{
  width: 316px;
  margin: 0 auto;
}
.registration_button {
  font-family: Montserrat, serif;
  text-align: center;
  background: #E0EFFC;
  width: 219px;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
margin-left: 49px;
}

.invalid-data {
  position: absolute;
  color: red;
  font-size:12px;
  width: 316px;
  margin-left: 20px;


}
