<main class="main  registration_page">
  <form action="">
    <p class="text_registration"> Реєстрація</p>
    <p class="registration_enter_label">
      <label for="firstname">Ім'я: </label><br><br>
      <input type="text" id="firstname" name="firstname" class="input_reg"/><br>
    </p>
    <p class="registration_enter_label">
      <label for="lastname">Прізвище: </label><br><br>
      <input type="text" id="lastname" name="lastname" class="input_reg"/><br>
    </p>
    <p class="registration_enter_label">
      <label for="date">Дата народження: </label><br><br>
      <input type="date" id="date" name="date" class="input_reg"/><br>
    </p>
    <p class="registration_enter_label">
      <label for="town">Місто проживання: </label><br><br>
      <input type="text" id="town" name="town" class="input_reg"/><br>
    </p>
    <p class="registration_enter_label">
      <label for="email">Електронна адреса: </label><br><br>
      <input type="email" id="email" name="email" class="input_reg"/><br>
    </p>
    <p class="registration_enter_label">
      <label for="password">Створіть пароль: </label><br><br>
      <input type="password" id="password" name="password" class="input_reg"/><br>
    </p>
    <p class="registration_enter_label">
      <label for="password_repeat">Повторіть пароль: </label><br><br>
      <input type="password" id="password_repeat" name="password_repeat" class="input_reg"/><br>
    </p>
    <p class="registration_enter_label">
      <label for="pets">Чи є у Вас домашні улюбленці,якщо є,то які ?</label><br><br>
      <input type="text" id="pets" name="pets" class="input_reg"/><br></p>
    <p class="registration_enter_label ">
      <label for="family_status">Сімейний стан:</label><br><br>
      <select id="family_status" name="family_status">
        <option value="unmarried">Не одружений/не заміжня</option>
        <option value="married">Одружений/заміжня</option>
        <option value="in_relationship">В стосунках</option>
      </select>
    </p>
    <p class="registration_enter_label">
      <button type="submit" class=" registration_button registration_page_button">Перейти далі</button>
    </p>
    <br><br>
    <a href="/" class="registration_enter_label">
      <button type="button" class=" registration_button registration_page_button">Назад</button>
    </a>

  </form>
</main>