<main class="main">
    <section class = "Main_page">
      <div class="wrapper">
        <a routerLink="/sign-up" routerLinkActive = "active">
          <button type="submit" class="registration_button" >Зареєструватись
          </button></a>
        <br>
        <a routerLink="/login" routerLinkActive = "active">
        <button type="submit" class="log_in_button" >Увійти
        </button>
        </a>
        <a routerLink="/forgot-password" routerLinkActive = "active">
          <button type="submit" class="forget_password_button">Забули пароль?</button></a>
      </div>
     </section>
  </main>