
.login_page {
  margin: 0 auto;
  width:300px;
}

.text_login {
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  font-size: 36px;
  margin-top: 60px;
}
.registration_enter_label {
  font-size: 14px;
  padding-top: 35px;
}
.input_login {
  width: 300px;
  height: 32px;
  background: #E0EFFC;
  border-radius: 20px;
  border-color: transparent;
  line-height: 1.5;
  margin-top: 15px;

}

.login_page_button {
  width: 130px;
  height: 26px;
  background: #E0EFFC;
  border-radius: 20px;
  border-color: transparent;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  position: absolute;
  margin-top: 38px;
  margin-left: 84px;
}
.box_error{
width:600px;
}
.text-danger{
color:red;
font-size:13px;
border-left:50px;
padding-top:10px;
  position: absolute;
  margin-top: 0px;
}

