<main class=" main login_page">
  <p class="text_login ">Вхід</p>
  <form action="">
    <p class="registration_enter_label">
      <label for="login_email">1. Введіть електронну пошту</label><br><br>
      <input type="email" id="login_email" value="" class="input_login"><br><br>
    </p>
    <p class="registration_enter_label">
      <label for="login_password">2. Введіть пароль</label><br><br>
      <input type="password" id="login_password" value="" class="input_login"><br><br>
    </p>
    <button type="submit" class="login_page_button ">Увійти</button>
    <br><br>
    <a href="/">
      <button type="button" class=" login_page_button ">Назад</button>
    </a>
  </form>
</main>