
.container {
    background-color: #FFFFFF;
    border: 1px solid rgba(34, 33, 33, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 520px;
    height: 114px;
    margin-left: 400px;
}
.container-1{
    margin-top: 110px;
}
.container-2{
    position: absolute;
    margin-top: 40px;
}
.comment_date{
    /* 11 лютого 2021 */
position: fixed;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
text-align: center;
color: rgba(0, 0, 0, 0.7);
margin-left: 405px;
}
.date{
    top: 265px;
    }
.main_text{
position: absolute;
font-family: Montserrat;
font-size: 14px;
color: #030303;
font-weight: 600;
}
.container_text{
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    font-family: Montserrat;
}
.text{
    margin-left: 80px;
    font-family: Montserrat;
    font-size: 13px;
    margin-bottom: 10px;
}
.comment{
    color: #161515;
    margin-top: 20px;
    font-size: 13px;
}
.box{
    margin-top: 25.5px;
}
.pagination-container {
    position: absolute;
    text-align: center;
    margin: 195px 34px;
    border-color:  #0e1111;

  }
  
  .pagination {
  margin-left: 364px;
  }
  
  .pagination a {
    background-color: #FFE5F5;
    color: #0e1111;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
    border: 2px solid #DDBCCE;
    margin: 0 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
  }
  
  .pagination a.active {
    background-color: #E554AE;
    color: #0e1111;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #E554AE;
  }

