
<div class="container container-1">
    <div class="container_text">
    <p class="comment_date">11 лютого 2021</p>
    <p class="main_text">Прізвище Ім'я</p>
    <p class="comment">Текст відгуку про івент</p>
    <div class="box">
    <p class="main_text">Переваги : </p>
    <p class="text">Тут користувач пише переваги</p>
    <p class="main_text">Недоліки : </p>
    <p class="text">Тут користувач пише недоліки</p>
    </div></div></div>
    <div class="container container-2">
        <div class="container_text">
        <p class="comment_date">11 лютого 2021</p>
        <p class="main_text">Прізвище Ім'я</p>
        <p class="comment">Текст відгуку про івент</p>
        <div class="box">
        <p class="main_text">Переваги : </p>
        <p class="text">Тут користувач пише переваги</p>
        <p class="main_text">Недоліки : </p>
        <p class="text">Тут користувач пише недоліки</p>
        </div></div>
    </div>
    <div class="pagination-container">
        <div class="pagination">
          <a href="#">Попередня</a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#" class="active">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">Наступна</a>
        </div>
      </div>
      
