<div class="infobox_oneevent">
    <ol>
        <li>
            <img class="infoicon_oneevent" src="https://cdn4.iconfinder.com/data/icons/user-interface-glyph-5/32/Location-512.png" alt=""  />
            <p class="infotext_oneevent">GREEN, Вегетеріанське арт-кафе</p>
        </li>
        <li>
            <img class="infoicon_oneevent" src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/map-pin-512.png" alt=""  />
            <p class="infotext_oneevent">м.Львів, вул. Братів Рогатинців, 5</p>
        </li>
        <li>
            <img class="infoicon_oneevent" src="https://cdn4.iconfinder.com/data/icons/standard-free-icons/139/Call01-512.png" alt=""  />
            <p class="infotext_oneevent">+380(97)-777-77-77</p>
        </li>
        <li>
            <img class="infoicon_oneevent" src="https://cdn4.iconfinder.com/data/icons/movies-and-entertainment-1/32/Movies_and_Entertainment_ticket_cinema_theatre_show-512.png" alt=""  />
            <p class="infotext_oneevent">Вхід вільний</p>
        </li>
        <li>
            <img class="infoicon_oneevent" src="https://cdn1.iconfinder.com/data/icons/essential-pack-3/24/68.calendar-512.png" alt=""  />
            <p class="infotext_oneevent">Щоп'ятниці</p>
        </li>
    </ol>   
<img class="time_icon" src="https://cdn1.iconfinder.com/data/icons/essentials-pack/96/clock_time_alarm_watch_hour-512.png" alt=""  />
<p class="time_information">19.00-21.00</p>
</div> 
<div class="button">
    <button type="submit" class="button_oneevent confirm">Підтвердити участь</button>
</div>
<div class="button">
    <button type="submit" class="button_oneevent back">Повернутись назад</button>
</div>