.infobox_oneevent{
    position: absolute;
    width: 498px;
    height: 190px;
    left: 400px;
    top: 109px;
    background: #FFE5F5;
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
  }

  .infotext_oneevent{
    position: relative;
    font-family: Montserrat;
    top: -11px;
    font-size: 18px;
    line-height: 20px;
    left: 35px;
    color: #000000;
  }

  .infoicon_oneevent{
    position: relative;
    top: 4px;
    left: 10px;
    width: 18px;
    height: 18px;
  }

  .time_information{
    position: absolute;
    width: 100px;
    height: 19px;
    top: 158px;
    left: 250px;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;    
    color: #000000;
  }

  .time_icon{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 160px;
    left: 230px;
  }

  .button_oneevent{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .confirm{
    width: 250px;
    height: 40px;
    top: 350px;
    background: #FFE5F5;
    border: 2px solid #DDBCCE;
    border-radius: 20px;
    font-size: 17px;
    line-height: 21px;
    left: 524px;
  }

  .back{
    width: 200px;
    height: 30px;
    top: 410px;
    background: #E3F2FF;
    border: 2px solid #97ACCF;
    font-size: 15px;
    line-height: 19px;
    left: 549px;
  }
  .button{
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 40px;
    margin-bottom: 100px;
   }
