<div class="oneevent">
    <img src="./assets/images/mantra.png" alt="" class="picture" />
    <p class="text_oneevent ">Концерт "Мантра акустик"</p>
    <router-outlet></router-outlet>
    <a routerLink="confirm-participation">
        <div class="button">
        <button type="button" class="button_oneevent write">Залишити відгук</button>
        </div>
    </a>
    <div class="button">
    <button type="button" class="button_oneevent join">Взяти участь</button>
    </div>
    <div class="button">
    <button type="button" class="button_oneevent reviews">Відгуки</button>
    </div>
    
    