<form action="">
    <div class="restore_page">
      <p align="center" class="text_restore_password">Відновлення паролю</p>
      <p align="center" class="text_restore">Введіть електронну пошту, на яку ми надішлемо</p>
      <p align="center" class="text_restore">Вам лист підтвердежння</p>
      <label for="email"></label><br><br>
      <input type="email" id="email" name="email" class=" input_restore"/><br>
      <button type="submit" class=" registration_button restore_page_button">Надіслати лист з підтвердженням</button>
      <br><br><br>
      <a href="/">
        <button type="button" class=" registration_button restore_page_button">Назад</button>
      </a>
    </div>
  </form>