<form action="">
    <div class="restore_page">
      <p align="center" class="text_restore_password">Відновлення паролю</p>
      <p align="center" class="text_restore">Введіть електронну пошту, на яку ми надішлемо</p>
      <p align="center" class="text_restore">Вам лист підтвердження</p>
      <label for="email"></label>
      <input type="email" id="email" name="email" class=" input_restore"/>
    <div class="butt">
      <button type="submit" class=" restore_page_button">Надіслати</button>
    </div>
      <a href="/"class="butt">
        <button type="button" class=" restore_page_button">Назад</button>
      </a>
    </div>
  </form>
