<main class="main">
    <section class = "Main_page">
      <div class="wrapper">
        <a href="sign-up/">
          <button type="submit" class="wrapper registration_button" >Зареєструватись</button>
      </a>
        <br>
        <a href="login/">
          <button type="submit" class="wrapper registration_button log_in_button" >Увійти</button>
        </a>
        <a href="forgot-password/">
          <button type="submit" class="forget_password_button">Забули пароль?</button></a>
      </div>
     </section>
  </main>
