<main class="main">
  <section class="Main_page">
    <div class="wrapper">
      <div class="butt-space">
        <a href="sign-up/">
          <button type="submit" class="registration_button">Зареєструватись</button>
        </a>
      </div>
      <div class="butt-space">
        <a href="login/">
          <button type="submit" class=" registration_button log_in_button">Увійти</button>
        </a>
      </div>
      <a href="forgot-password/">
        <button type="submit" class="forget_password_button">Забули пароль?</button>
      </a>
    </div>
  </section>
</main>
