<main>
  <div class="topnav">
    <div class="search-container">
      <form action="">
        <input type="text" autofocus="autofocus" placeholder="Пошук подій" name="search">
        <button type="submit"><img
            src="https://res.cloudinary.com/hs2vpyvzv/image/upload/v1612568959/icons/search_uwsmjl.svg"
            alt="" /></button>
      </form>
    </div>
  </div>

  <div class="caption">Популярні</div>
  <div class="content-container">
    <div class="event-container" *ngFor="let event of events">
      <a href="one-event" >
        <img src="{{event.event_photo}}"
          onerror="this.src='https://media-exp1.licdn.com/dms/image/C560BAQHMnA03XDdf3w/company-logo_200_200/0/1519855918965?e=2159024400&v=beta&t=CrP5Le1mWICRcaxIGNBuajHcHGFPuyNA5C8DI339lSk'"
          alt="">
      </a>
      <a href="one-event" >
        <div class="event-name">{{event.event_name}}</div>
      </a>
      <div class="datetime">{{event.event_datetime_begin | date:'EEE, MMM d, HH:mm'}} -
      {{event.event_datetime_end | date:'EEE, MMM d, HH:mm'}}</div>

      <div class="event-description">
        {{event.event_description}}
      </div>
    </div>
  </div>

  <div *ngIf="page_status == 'load_success'" class="pagination-container">
    <div class="pagination">
      <a *ngIf="has_prev" (click)="fetchPrevious()">Попередня</a>
      <a *ngIf="has_prev" (click)="fetchPrevious()">{{previous_page_num}}</a>
      <a class="active">{{page_num}}</a>
      <a *ngIf="has_next" (click)="fetchNext()">{{next_page_num}}</a>
      <a *ngIf="has_next" (click)="fetchNext()">Наступна</a>
    </div>
  </div>

  <div *ngIf="page_status !== 'load_success'" class="empty-page-error">
    <img *ngIf="page_status == 'loading'" src="assets/images/loadanimation.svg" alt="">
    <p *ngIf="page_status == 'load_failed'">This page is empty</p>
  </div>

</main>
