<main>
  <div class="topnav">
    <div class="search-container">
      <form action="">
        <input type="text" autofocus="autofocus" placeholder="Пошук подій" name="search">
        <button type="submit"><img src="https://www.flaticon.com/svg/vstatic/svg/622/622669.svg?token=exp=1610666339~hmac=a785adac90797915fb64e21df5a1da82" alt="" /></button>
      </form>
    </div>
  </div>


  <div class="container"></div>
  <div class="event-container" *ngFor="let event of events">
    <img src="https://eventure-lpnu.herokuapp.com{{event.event_photo}}" alt="">
    <p>{{event.event_date | date:'EEE, MMM d, HH:mm'}}</p>
    <p>{{event.event_name}}</p>
    <p>{{event.event_description}}</p>
  </div>
</main>