.caption {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  color: #0e1111;
}

.content-container, .caption{
   margin: 1%;
}

.event-container {
  width: 348px;
  /* height: 324px; */
  background: #E0EFFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px;
}

.event-container img {
  width: 90%;
  /* top right bot left */
  margin: 14px 18px;
  border-radius: 5px;
}

.search-container {
  margin: 0 auto;
  max-width: max-content;
}

.search-container form input[type="text"]::placeholder {
  /* padding-left: 17px; */
  color: #FFE5F5, 100%;
}

.search-container form input {
  height: 44px;
  width: 380px;
  left: 770px;
  margin-top: 28px;

  text-indent: 17px;

  background: #FFE5F5;
  border: 1px solid #FFACDF;
  box-sizing: border-box;
  border-radius: 5px;
}

button[type="submit"] img {
  width: 16px;
}

button[type="submit"] {
  height: 44px;
}

.pagination-container {
  text-align: center;
  margin: 38px 48px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  background-color: #FFE5F5;
  color: #0e1111;
  float: left;
  padding: 12px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 5px;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #E554AE;
  color: #0e1111;
}

.pagination a:hover:not(.active) {
  background-color: #E554AE;
}